/* body { background-color:#1f262e;} */
body{
  background-image: url(https://source.unsplash.com/collection/1401382/1600x1000); 
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;

  /* 1401382 */
}


h1
{
  color: ivory;
/* color: #21cf95f1; */
font-size: 120pt;
text-align: center;
/* margin-block-start: 1.40em; */
margin-block-end: 0.10em;
}



.form,
.greetings
{display: none;}

.js-todoForm
{ 
position: relative;
text-align: center;
margin: 1px; 
}

/* .js-todoForm.Isvisible
{
  display: block;
} */

.name-input,
.todo-input
{
  position: relative;
  /* background-color: #29323d; */
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba( 255, 255, 255, 0.3 );
  /* background-color: transparent; */
    border:2px solid rgba(255, 255, 255, 0.4);
  /* border:2px solid #2b333d; */
  padding: 13px;
  margin-bottom: 10px;
  width:100%;
  box-sizing: border-box;
  outline:0;

}



input::placeholder
{color: ivory; opacity: 10;}


input[type=text]
{
width: 25%;
transition: width 0.9s ease-in-out;
color: #e4af03;
}

input[type=text]:focus
{width: 40%;}

.showing
{
display: block;
color: ivory;
font-size: 60pt;
text-align: center;
margin-block-start: 0.30em;
margin-block-end: 0.80em
}

.js-todoList
{
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;

}

.js-todoList span
{
  flex-grow: 1;
  margin-left: -20px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 800;
  color: rgba(244, 246, 252, 0.938);

}


@keyframes bottomFadeOut {
  0% {
    opacity: 0;
  }

  50% {
    
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}



.cheer
{
  font-weight:700;
  font-size: 23px;
  color: snow;
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;

}

.animation
{
  animation: bottomFadeOut 2s;
  -webkit-animation: bottomFadeOut 2s;
  -moz-animation: bottomFadeOut 2s;
}


.js-weather
{
  text-align: right;
  position: absolute;
  top: 13px;
  right: 18px;
  font-size: 27px;
  color: snow;
  opacity: 0.9;
}


.js-place
{
  text-align: right;
  position: absolute;
  top: 45px;
  right: 18px;
  font-size: 17px;
  color: snow;
  opacity: 0.7;
}


.btn
{

  max-width: 30%;
  width: auto;
  height: auto;
  position: absolute;
  top: 3px;
  left: 5px;
  opacity: 0.7;
  
}


.info {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-size: 24px;
  color: snow;
  opacity: 0.7;

}

.info .text {
  visibility: hidden;
  width: 120px;
  font-size: 15px;
  font-weight:400;
  color: snow;
  text-align: center;
  margin-left: 14px;

}

.info:hover .text {
  visibility: visible;
}

